@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #000000;
  --color-foreground: #f1f0eb;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: oklch(0.708 0 0);
  --color-sidebar-border: oklch(0.922 0 0);
  --color-sidebar-accent-foreground: oklch(0.205 0 0);
  --color-sidebar-accent: oklch(0.97 0 0);
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-primary: oklch(0.205 0 0);
  --color-sidebar-foreground: oklch(0.145 0 0);
  --color-sidebar: oklch(0.985 0 0);
  --color-chart-5: oklch(0.424 0.199 265.638);
  --color-chart-4: oklch(0.488 0.243 264.376);
  --color-chart-3: oklch(0.546 0.245 262.881);
  --color-chart-2: oklch(0.623 0.214 259.815);
  --color-chart-1: oklch(0.809 0.105 251.813);
  --color-ring: #d5a310;
  --color-input: #292113;
  --color-border: #292113;
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-accent-foreground: #000000;
  --color-accent: #d5a310;
  --color-muted-foreground: #a3a3a3;
  --color-muted: #2c2c2c;
  --color-secondary-foreground: #f1f0eb;
  --color-secondary: #292113;
  --color-primary-foreground: #000000;
  --color-primary: #d5a310;
  --color-popover-foreground: #f1f0eb;
  --color-popover: #2c2c2c;
  --color-card-foreground: #f1f0eb;
  --color-card: #2c2c2c;
  --radius-sm: 0.3rem;
  --radius-md: 0.4rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.7rem;
  --radius-2xl: 0.9rem;
  --radius-3xl: 1.1rem;
  --radius-4xl: 1.3rem;
}

:root {
  --background: #000000;
  --foreground: #f1f0eb;
  --card: #2c2c2c;
  --card-foreground: #f1f0eb;
  --popover: #2c2c2c;
  --popover-foreground: #f1f0eb;
  --primary: #d5a310;
  --primary-foreground: #000000;
  --secondary: #292113;
  --secondary-foreground: #f1f0eb;
  --muted: #2c2c2c;
  --muted-foreground: #a3a3a3; /* darker gray for muted text */
  --accent: #d5a310;
  --accent-foreground: #000000;
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: #f1f0eb;
  --border: #292113;
  --input: #292113;
  --ring: #d5a310;
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #000000;
  --foreground: #f1f0eb;
  --card: #2c2c2c;
  --card-foreground: #f1f0eb;
  --popover: #2c2c2c;
  --popover-foreground: #f1f0eb;
  --primary: #d5a310;
  --primary-foreground: #000000;
  --secondary: #292113;
  --secondary-foreground: #f1f0eb;
  --muted: #2c2c2c;
  --muted-foreground: #a3a3a3;
  --accent: #d5a310;
  --accent-foreground: #000000;
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: #f1f0eb;
  --border: #292113;
  --input: #292113;
  --ring: #d5a310;
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body,
  html {
    @apply bg-background text-foreground;
    font-family: var(--font-inter), sans-serif;
    scroll-behavior: smooth;
  }
}
